* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: #314657;
    --secondary-color: #58626E;
    --tertiary-color: #9DB3BE;
    --quaternary-color: #CCA152;
    --mainMargin: 2%;
    --headerMargin: 8%;
    --headerPadding: 10px;
    --mainPadding: 20px;

}

header {
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left:0px;
    z-index: 1;
    padding: var(--mainPadding);
    color: white;

}

header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:var(--headerPadding);

}

header>div>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    transition:.5s;    
}


header>nav{
    display: flex;
    justify-content: space-between;

    align-items: center;
    width:50%;
}

header>nav>ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
    list-style: none;
}

header>nav>ul>li{
    margin-left: var(--headerMargin);
}

header>nav>ul>li>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}



#mainTable{
    padding:20px;
}

form textarea {
    resize: none;
    overflow-y: scroll;
    width: 70%;
}

body {
    padding-top: 100px;
    min-width: 260px;
}

input:not('checkbox') {
    width: 65%;
}

input[type='file']{
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: break-spaces;
}

body>#registrationForm,
body>#loginForm {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    background-color: var(--tertiary-color);

}

body>#registrationForm>div,
body>#loginForm>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


body>#registrationForm>div:first-child,
body>#loginForm>div:first-child {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    margin-bottom: var(--mainMargin);
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}

form select {
    width: 40%;
}

form span {
    text-align: center;
    overflow-wrap: break-word;
    overflow: hidden;
    text-transform: capitalize;
    ;

}

form label {
    text-transform: capitalize;
    ;
}

/* main container */
form>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* seconde container contain the element +label */
form>div>div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
}

input {
    padding: 2px;
}

form>.skills {
    flex-wrap: wrap;
    margin-bottom: 0px;

}

form>.skills>div {
    width: calc(100% / 2);
}

form>.skills>div>.allSkills {
    max-width: 50%;
    margin-left: var(--mainMargin);
}

form>div>div>*:last-child {
    width: 68%;
}

form>.skills>div>.allSkills>div {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--mainMargin);
}

form>.skills>div>.allSkills>div label {
    margin-left: var(--mainMargin);
    width: 90%;
    overflow-wrap: break-word;
}

form>div:last-child>input {
    background-color: var(--quaternary-color);
    width: 100%;
    margin-left: var(--mainMargin);

}

form .code {
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
}


.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--primary-color);
}

.table thead {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}


.table tbody tr:nth-child(odd) {
    background-color: var(--tertiary-color);
}


.table td,
.table th {
    width: 1%;
    padding: 10px;
    text-align: center;
    overflow-wrap: break-word;

}

.table a {
    text-decoration: none;
    color: white;
    background-color: var(--quaternary-color);
    padding: 5px;
    border-radius: 5px;
}


.error{
    background-color:var(--tertiary-color);
    color:red;
    padding:var(--mainPadding);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media query  */

@media (max-width: 800px) {
    form .more {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    form .more>div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    form .more>div:first-child {
        margin-bottom: 5%;
    }

    label+input {
        width: 50%;

    }
}


@media (max-width:600PX) {
    body>#registrationForm,
    body>#loginForm {
        width: 85%;
    }
}

@media (max-width:260px) {
    body {
        overflow-x: scroll;
    }
}