* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: #314657;
    --secondary-color: #58626E;
    --tertiary-color: #9DB3BE;
    --quaternary-color: #CCA152;
    --mainMargin: 2%;
    --headerMargin: 8%;
    --headerPadding: 1%;
    --mainPadding: 2%;
    --FFHeader: cursive;

}

header {
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 126;
    padding: var(--headerPadding);
    color: white;
    font-family: var(--FFHeader);
}

header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--headerPadding);

}

header>div>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    transition: .5s;
}


header>nav {
    display: flex;
    justify-content: space-between;

    align-items: center;
    width: 50%;
}

header>nav>ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    list-style: none;
}

header>nav>ul>li {
    margin-left: var(--headerMargin);
}

header>nav>ul>li>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

body {
    min-width: 270px;
    overflow: auto;
}

#mainTable {
    padding: 20px;
}

form textarea {
    resize: none;
    overflow-y: scroll;
}

input:not('checkbox') {
    width: 100%;
}

form label,
form input[type='file'] {
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: break-spaces;
}

body>#registrationForm,
body>#loginForm {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    background-color: var(--tertiary-color);
    margin: var(--mainMargin) auto;
}

body>#registrationForm>div,
body>#loginForm>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title {
    display: block;
    padding: 10px;
    background-color: var(--secondary-color);
    color: white;
    margin-bottom: var(--mainMargin);
    font-family: var(--FFHeader);

}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: var(--mainPadding);
}

/* labels*/
form span,
form label {
    text-align: center;
    overflow-wrap: break-word;
    overflow: hidden;
    text-transform: capitalize;
}

form input,
form select {
    padding: 2px;
}

/* main container */
form>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
}

form .multi {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: column;
    border: var(--secondary-color) 1px solid;
    padding: var(--mainPadding);
}

form .multi>div {
    max-width: 100%;
    overflow: auto;
    width: 100%;
}

/* header multi */
form .multi>div:first-child span {
    font-family: var(--FFHeader);
    color: black;

}

form .multi span {
    color: var(--primary-color);
}

form .multi .allmulti {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: var(--mainPadding);
}

form .multi .allmulti>div {
    max-width: 50%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: var(--mainMargin);
}


/* seconde container contain the element +label */
form>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* buttons */
form>div:last-child>input {
    background-color: var(--quaternary-color);
    width: 100%;
    margin-left: var(--mainMargin);

}

form .code {
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
}


.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--primary-color);
}

.table thead {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}


.table tbody tr:nth-child(odd) {
    background-color: var(--tertiary-color);
}


.table td,
.table th {
    width: 1%;
    padding: 10px;
    text-align: center;
    overflow-wrap: break-word;

}

.table a {
    text-decoration: none;
    color: white;
    background-color: var(--quaternary-color);
    padding: 5px;
    border-radius: 5px;
}


.error {
    background-color: var(--tertiary-color);
    color: red;
    padding: var(--mainPadding);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media query  */

@media (max-width: 800px) {
    form .more>div {
        width: 100%;
        margin-top: var(--mainMargin);
    }

    form .more {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        flex-direction: column;
    }

    label+input {
        width: 50%;

    }
}


@media (max-width:600PX) {

    body>#registrationForm,
    body>#loginForm {
        width: 85%;
    }
}

@media (max-width:260px) {
    body {
        overflow-x: scroll;
    }
}